<html>
    <head>
        <title>Player perfomance</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <div class="navbar">
            <img src="images/cricket_logo.png" class="logo">
           <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Live</a></li>
                <li><a href="">Contact</a></li>
                
                </ul>
            </nav>
            </div>
        <div class="cricket">
            <h1>Cricket Players List 2021</h1>
            
            <table style="width:100%">
  <tr>
    <th>Player</th>
    <th>Ranking</th>
    <th>Country</th>
       <th>  Button    </th>

  </tr>

 <% players.forEach(player => { %>
                        <tr>
                            
                            <td> <%= player.player %>  </td>
                            <td>   <%= player.Ranking %> </td>
                            <td>  <%= player.country %> </td>
                     
                
                            <td>
                              
   
                                  <a href="/players/edit/<%= player.id %>" class="d-inline"  >
                                <button  type="submit"> Edit
                                </button>
                            </a>
                       
 
                                <form action="/players/<%= player.id %>?_method=DELETE" method="POST" class="d-inline"  >
                                <button type="submit">Delete
                                  </button>
                               </form>
                            </td>
                        </tr>
                        <% }) %>

            </table>
            </div>


</body>



</html>