<html>
    <head>
        <title>Player perfomance</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <div class="navbar">
            <img src="images/cricket_logo.png" class="logo">
           <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Live</a></li>
                <li><a href="">Contact</a></li>
                
                </ul>
            </nav>
            </div>
        <div class="cricket">
            <h1>Cricket Players List 2021</h1>
            
            <table style="width:100%">
  <tr>
    <th>Player</th>
    <th>Ranking</th>
    <th>Country</th>
  </tr>

 <% Players.forEach(player => { %>
                        <tr>
                            
                            <td> <%= Cricket Players List 2021 %> </td>
                            <td> <%= Players.player %> </td>
                            <td>  <%= Players.Ranking %>  </td>
                            <td> <%= Players.Country %> </td>
                
                            <td>
                              
   
                                  <a href="/players/edit/<%= player.id %>"  >
                                <button class="btn btn-success" style="margin-left: 5px;" type="submit"><i class="fa fa-pencil" style="font-size: 15px;">
                                </i></button>
                            </a>
                       
 
                                <form action="/players/<%= player.id %>?_omethod=DELETE" method="POST" class="d-inline"  >
                                <button class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash" style="font-size: 15px;">
                                </i></button>
                               </form>
                            </td>
                        </tr>
                        <% }) %>

            </table>
            </div>


</body>



</html>